/*--  Header y navbar  --*/

.hero {
    background-color: var(--hero-background-color);
    background-image: 
        linear-gradient(var(--hero-linear-color) 1px, transparent 1px),
        linear-gradient(90deg, var(--hero-linear-color) 1px, transparent 1px);
        background-size: 40px 40px;
}

header nav {
    display: flex;
    padding: 1em;
    gap: 2em; 
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 2em; 
    margin: 0;
    padding: 0;
    flex-grow: 1; 
}

header nav ul li {
   list-style: none;
}

header nav ul li:nth-child(3) {
    margin-left: auto;
}

#logo {
    width: auto;
    height: 100px;
    border-radius: 2em;
}

header nav ul li a img {
    width: auto;
    height: 30px;
}

header nav ul li #elementos:hover,
.nav-shadow-icon:hover {
    box-shadow: 0 2px 0 0 var(--nav-line-a);
    transition: box-shadow 0.3s ease;
}

header nav ul li a {
   text-decoration: none;
   color: var(--text-main);
   font-size: large;
   letter-spacing: 2px;
}

/*-- Main --*/

main {
    min-height: 100vh;
}

/*-- Tarjetas --*/

.card {
    box-shadow: 0px 0px 5px 1px var(--color-secondary);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    aspect-ratio: 1 / 1.15; 
    background-color: var(--background-color-card); 
    color: var(--text-color-card);
    max-width: 10em;

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px 2px var(--color-primary);
}

.card .atomic-number {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-secondary); 
}

.card h3 {
    margin: 0;
    font-size: 2.2rem;
    font-family: var(--font-titulos);
    color: var(--color-primary); 
    white-space: nowrap;     
    overflow: hidden;        
    text-overflow: ellipsis; 
    margin-bottom: 0.2em;
}

.card .name {
    margin: 5px 0 0 0;
    font-size: 0.85rem;
    text-transform: capitalize;
}

.card .atomic-mass {
    font-size: 0.7rem;
    color: var(--atomic-mass-color);
    margin-top: auto;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card button {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-modal); 
    backdrop-filter: blur(5px); 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}

.modal.open-modal {
    display: flex;
}
.modal:target {
    display: flex;
}

.modal-content {
    background-color: var(--background-color-modal-caja); 
    color: var(--bg-main); 
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    position: relative; 
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--color-primary); 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: var(--bg-main);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: var(--color-primary);
}

.modal-content h2 {
    color: var(--color-primary);
    margin-bottom: 15px;
    font-family: var(--font-titulos);
}

.modal-body p {
    margin-bottom: 10px;
    line-height: 1.5;
}


/* Buscador de elementos */
#search {
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;              /* Tamaño de fuente cómodo para leer */
    color: var(--text-color-card);
    width: 20em;
    box-shadow: 0px 0px 5px 1px var(--color-secondary);
    transition: all 0.3s ease;    
    outline: none;
}
#search:hover {
    box-shadow: 0px 0px 5px 3px var(--color-secondary);
}
#search:focus {
  box-shadow: 0px 0px 8px 4px var(--color-primary); 
}
#search::placeholder {
    color: var(--color-secondary);
    font-style: italic;
}



/* -- Footer -- */
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px 40px;
    margin-top: 2em;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#logo-footer img{
    z-index: -1;
    width: auto;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.nav-redes{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-redes ul {
    display: flex;
    max-width: 10em;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
}
.nav-redes ul li {
    list-style: none;
     background-color: var(--background-color-redes);
     padding: 5px;
     border-radius: 5px;
}

.nav-redes ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.nav-redes ul li a:hover{
    transform: scale(1.15); 
}

.nav-redes ul li a img {
    width: 32px;
    height: auto;
    display: block;
    
}

.nav-ayuda ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    list-style: none;
}
.nav-ayuda ul li {
    padding: 5px;
    text-align: center;
}
.nav-ayuda  a{
text-decoration: none;
color: var(--background-color-redes);
}
.nav-ayuda  a:hover{
    text-decoration: underline;
}

#text-footer {
    grid-column: 1 / -1; 
    text-align: center;  
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    justify-self: stretch;
}

@media (max-width: 799px) {
    footer {
    grid-template-columns: 1fr; 
    gap: 25px
    }
}

