/* Fuente para Títulos (Cranio) */
@font-face {
    font-family: 'Cranio';
    /* Salimos de la carpeta CSS con ../ y entramos a assets/fonts/cranio */
    src: url('../assets/fonts/cranio/Cranio.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Fuente para Textos Generales (Creato Display - Regular) */
@font-face {
    font-family: 'Creato Display';
    src: url('../assets/fonts/creato/CreatoDisplay-Regular.otf') format('opentype');
    font-weight: normal; /* Equivalente a 400 */
    font-style: normal;
}

/* Versión Bold de Creato */
@font-face {
    font-family: 'Creato Display';
    src: url('../assets/fonts/creato/CreatoDisplay-Bold.otf') format('opentype');
    font-weight: bold; /* Equivalente a 700 */
    font-style: normal;
}

:root {
    --bg-main: #14161f;          /* El fondo oscuro */
    --color-primary: #1A2DA3;    /* Azul fuerte para botones/destaques */
    --color-secondary: #5466A7;  /* Azul apagado para bordes/paneles */
    
    --hero-linear-color: rgba(116, 116, 116, 0.138);
    --hero-background-color: rgb(7, 6, 21);
    --nav-line-a: #F0F4F8;
    
    /* Agregados para asegurar lectura (Contraste) */
    --text-main: #F0F4F8;   
    --text-color-card: #14161f;     /* Blanco azulado para textos */
    --atomic-mass-color:gray;
    --bg-glass: rgba(84, 102, 167, 0.15); /* Transparencia usando su color secundario */
    --background-color-redes: rgb(208, 208, 208);
    --background-color-card: #ffffff;
    --background-color-modal-caja: #F0F4F8;
    --background-color-modal:rgba(7, 6, 21, 0.85);

    /* Tipografías */
    --font-titulos: 'Cranio', sans-serif;
    --font-textos: 'Creato Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: var(--font-textos);
}

h1, h2, h3 {
    font-family: var(--font-titulos);
}



