
main {


    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;
}

.contenedor-login {

    width: 400px;

    background-color: #d9d9d9;

    padding: 40px;

    border-radius: 25px;

    text-align: center;
}

.contenedor-login h1 {

    color: black;

    margin-bottom: 10px;
}

.contenedor-login p {

    color: #555;

    margin-bottom: 30px;
}

.contenedor-login form {

    display: flex;

    flex-direction: column;

    gap: 20px;
}

.contenedor-login input {

    padding: 15px;

    border: none;

    border-radius: 30px;

    background-color: #c4c4c4;
}

.boton-login {


    display: block;

    width: 100%;

    padding: 15px;

    border-radius: 30px;

    background-color: var(--color-primary);

    color: white;

    text-decoration: none;
}

.links {

    margin-top: 20px;
}

.links a {

    color: var(--color-primary);

    text-decoration: none;
}

header nav {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 1em 2em;
}

.logo-container {

    display: flex;

    align-items: center;

    gap: 10px;
}

.logo-container img {

    width: 45px;

    height: 45px;
}

.logo-container h2 {

    color: var(--text-main);

    font-size: 1.5rem;
}

@media (max-width: 480px) {

    .contenedor-login {

        width: 90%;

        padding: 30px 20px;
    }

    footer {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5em 2em;

    border-top: 1px solid rgba(255,255,255,0.1);

    margin-top: 3em;
}

#text-footer p {

    color: var(--text-main);
    font-size: 0.9rem;
}

#redes {

    display: flex;
    gap: 1em;
}

#redes a img {

    width: 28px;
    height: 28px;

    transition: transform 0.3s ease;
}

#redes a img:hover {

    transform: scale(1.1);
}

/* ---------- RESPONSIVE ---------- */

@media (max-width: 768px) {

    footer {

        flex-direction: column;
        gap: 1em;

        text-align: center;
    }
}


}